# Configure artifacts
Makefile
autom4te.cache/
conf*.file
config.h
config.log
config.status
po/Makefile.in
po/POTFILES
stamp-h1

# Build artifacts
*.o
lib/.deps/
lib/charset.alias
lib/fnmatch.h
lib/ftw.h
lib/libfetish.a
lib/ref-add.sed
lib/ref-del.sed
lib/search.h
src/.deps/
src/basename
src/cat
src/chgrp
src/chmod
src/chown
src/cksum
src/comm
src/cp
src/csplit
src/cut
src/date
src/dir
src/dircolors
src/dirname
src/echo
src/env
src/expand
src/expr
src/factor
src/false
src/fmt
src/fold
src/ginstall
src/groups
src/head
src/hostname
src/id
src/join
src/kill
src/link
src/ln
src/logname
src/ls
src/md5sum
src/mkdir
src/mkfifo
src/mknod
src/mv
src/nl
src/od
src/paste
src/pathchk
src/pr
src/printenv
src/printf
src/ptx
src/pwd
src/readlink
src/rm
src/rmdir
src/seq
src/sha1sum
src/shred
src/sleep
src/sort
src/split
src/sum
src/tac
src/tail
src/tee
src/test
src/touch
src/tr
src/true
src/tsort
src/tty
src/unexpand
src/uniq
src/unlink
src/vdir
src/wc
src/whoami
src/yes
